@page "/"

<PageTitle>Home</PageTitle>

<h1>This is a web application designed for the completion of the Camden Group Takehome assignment.</h1>

<h3>Objective</h3>

<p>
    Camden Group offers on-site car parking at its Steeple location to current employees.
    Management would like to keep a record of all the cars that are currently using this facility
    and have an approval system for new cars.
</p>

<p>
    Create an application that allows users to submit employee requests for approval to park
    their car in the on-site car park. The application should have a front-end user interface that
    communicates with a C# backend API.
</p>

<h4>Front-End</h4>

<ol>
    <li>
        <strong>UI Components:</strong>
        <ul>
            <li>
                <strong>Car List:</strong> Display a list of cars with the following details:
                Employee Name, Car Registration Number, Car Make, Car Model, Colour, Year, Approved Status, and Date Approved.
            </li>
            <li>
                <strong>Add Car Form:</strong> A form to add a new car with fields for Employee,
                Car Registration Number, Car Make, Car Model, Colour, Year, Approval Status, and Approval Date.
            </li>
            <li>
                <strong>Edit Car Form:</strong> Edit an existing vehicle car park request.
            </li>
        </ul>
    </li>
</ol>

<h4>Back-End</h4>

<ol start="2">
    <li>
        <strong>Framework:</strong> Use <code>ASP.NET Core</code> for the backend.
    </li>
    <li>
        <strong>Data Storage:</strong> Use <code>Entity Framework Core</code> with an in-memory database or SQLite for simplicity.
    </li>
</ol>

<h4>Additional Requirements</h4>

<ol start="4">
    <li>
        <strong>Validation:</strong> The car registration number should be validated. Feel free to add other logic you think may be relevant.
    </li>
    <li>
        <strong>Documentation:</strong> Provide a <code>README</code> file with instructions on how to set up and run the project.
    </li>
</ol>

<h4>Submission</h4>

<ul>
    <li>
        Provide the complete source code in a GitHub repository if possible, or submit the zipped solution via email.
    </li>
    <li>
        Include instructions on how to set up and run both the front-end and back-end applications.
    </li>
</ul>